server:
  port: 8085

spring:
  application:
    name: test-service
  datasource:
    url: jdbc:postgresql://postgres-tests:5432/tests_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

rabbitmq:
  queue: test.queue 