server:
  port: 8086

spring:
  application:
    name: test-session-service
  datasource:
    url: jdbc:postgresql://postgres-test-sessions:5432/test_sessions_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/ 