server:
  port: 8082

spring:
  application:
    name: profile-service
  datasource:
    url: jdbc:postgresql://postgres-profiles:5432/profiles_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/ 